
html,
body {
  height: 100%;
  margin: 0;
  color: #212121;
  background-color: #fff;
  font-family: 'Tangerine', serif;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

/* ========= Header Wrapper ==========*/

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}

/* ========= Header ==========*/

.inner-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  flex-wrap: wrap;
  height: 100px;
}

/* ========= Header-Logo==========*/

.header-logo {
/* udacity's code */
  width: 90px;
  height: 90px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

/* ========= Hamburger Menu ==========*/

.menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* ========= Title ==========*/

.title {
  display: none;
}

/* ========= Nav ==========*/

.nav {
  width: 200px;
  margin-left: auto;
	margin-right: auto;
	background-color: #ebebeb;  
	position: absolute;
	z-index: 1;
	right: 0;
  /* This trasform moves the drawer off canvas.*/
	transform: translate(200px, 0);
	-webkit-transform: translate(200px, 0);
  /* Optionally, we animate the drawer.*/
	transition: transform 0.4s ease;
}
.nav.open {
		transform: translate(0px);
		-webkit-transform: translate(0px, 0);
	}
}

.nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
	display: list-item;
	padding: 24px;
  text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #c5c5c5;
  color: #212121;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1em;
  width: 100%;
}

.nav a:hover {
	color: #212121;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ========= Hero  ==========*/

.hero {
/* Position image to scale nicely on all screens */
  position: relative;
  max-width: 100%;

/* Set a specific height */
  height: auto;

}

/* ========= About Me ==========*/

.about {
  padding: 32px 0;
  background-color: #fff;
}

.about-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 48px;
}

.about-desc {
  width: 300px;
  text-align: center;
  margin: 0 auto 24px;
  font-size: 1.2em;
}

/* ========= Projects ==========*/

.projects {
  background-color: #ffef5e;
  padding: 16px 0 32px;
}

.projects-heading {
  text-align: center;
  color: #fff;
  font-size: 32px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 16px 32px 64px;
  padding: 48px 0 16px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

/* ========= Project ==========*/

.project-title {
  font-size: 1.6em;
  padding: 12px 0;
  margin: 0 auto 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 300px;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  color: #212121;
  text-align: center;
  font-size: 1em;
  align-items: center;
}

/* ========= Contact ==========*/

.contact {
  padding: 16px 0 ;
  background-color: #fff;
}

.contact-heading {
  text-align: center;
  padding: 32px 0;
  font-size: 1.8em;
}

.contact-desc {
  font-size: 1.2em;
  text-align: center;
  width: 70%;
  margin: 0 auto 64px;
}

/* ========= Social Links ==========*/

.links {
  height: 100px;
  width: 100%;
  background-color: #797987;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link{
  padding: 1em;
  margin: 0 12px;
  background-color: #797987;
  border-radius: 50px;
  color: #fff;
  transition: all 0.4s ease;
}

.social-link:hover {
  background-color: #fff;
  color: #c0c0c0;
  transform: scale(1.0);
}

.social-link:active {
  filter: brightness(1.0);
}

/* ========= Footer==========*/

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
}

.coder{
  color: #fff;
  font-size: 0.9em;
}

/* ========= Media Queries==========*/
@media screen and (max-width: 500px) {
/* Making the project's image responsive */
  .column {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .menu {
    display: none;
  }

  .title {
    display: block;
    text-align: end;
  }

  .title-name {
    color: #1a1a1a;
    margin: 0;
  }

  .title-position {
    color: #ea19fb;
    margin: 0;
  }

 .nav {
    width: 100%;
    position: relative;
    transform: translate(0);
    z-index: 50;
    background: #797987;
    height: 70px;
    box-shadow: 0px 5px 15px #798191;
  }

 .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;;
  }

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 32px;
    padding: 0.75em;
  }

.nav a:hover {
    color: #7dc6eb;
    background: #fff;
    text-decoration: underline;
    border-radius: 1px;
  }

.projects-heading {
    width: 300px;
    margin: 16px auto 64px;
  }
}

@media screen and (min-width: 768px) {
  .about-desc {
    width: 45%;
  }

  .contact-desc {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .inner-header {
    justify-content: space-between;
  }

  .title {
    text-align: start;
    margin: 0 0 0 16px;
  }

  .about-desc {
     width: 35%;
  }

  .projects-heading {
     width: 400px;
     margin: 16px auto 64px;
  }

  .projects-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-content: center;
  }
}

@media screen and (min-width: 1400px) {
  .container-main {
      width: 1500px;
      margin: auto;
 }
}
